# Detection of the user to set the correct home folder
home_user=vagrant

# Path to your oh-my-zsh installation.
export ZSH=/home/$home_user/.oh-my-zsh

#Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.
ZSH_THEME="gnzh"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(git virtualenv virtualenvwrapper ssh)

# User configuration
export PATH="/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/opt/go/bin:/opt/go-ethereum/build/bin"
# export MANPATH="/usr/local/man:$MANPATH"

source $ZSH/oh-my-zsh.sh

alias py="ipython"
alias untarbz2="tar xjf"
alias untargz="tar -zxvf"
alias untarxz="tar -Jxvf"
alias unrar="unrar x"
alias mist="/opt/Ethereum-Wallet-linux32-0-8-1/Ethereum-Wallet"

export GOROOT=/opt/go
export GOPATH=~/go
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin

setxkbmap fr
