# Detection of the user to set the correct home folder
home_user=vagrant

# Path to your oh-my-zsh installation.
export ZSH=/home/$home_user/.oh-my-zsh

#Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.
ZSH_THEME="gnzh"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(git virtualenv virtualenvwrapper ssh)

# User configuration
export PATH="/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/opt/go/bin:/opt/go-ethereum/build/bin:/opt/node-{{ node_version }}-linux-x64/bin/:/home/vagrant/.cargo/bin:/opt/parity/target/release"
# export MANPATH="/usr/local/man:$MANPATH"

source $ZSH/oh-my-zsh.sh

alias py="ipython"
alias untarbz2="tar xjf"
alias untargz="tar -zxvf"
alias untarxz="tar -Jxvf"
alias unrar="unrar x"
alias mist="/usr/local/bin/Mist"

alias provision="ansible-playbook /vagrant/provisioning/bootstrap.yml -i /vagrant/provisioning/hosts -vvvv"

export GOROOT=/opt/go
export GOPATH=~/go
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin

setxkbmap fr
# NB : if you are a mac user uncomment the next line and comment the previous one to have the mac keyboard
#setxkbmap -layout fr -variant mac