---
# tasks file for ethereum
- name: install stuff to compile geth
  apt: pkg={{ item }} state=installed
  with_items:
    - build-essential
    - libgmp3-dev


- name: check go extraction
  stat: path=/opt/go/bin/go
  register: go_installed


- name : download {{ go }}
  get_url: url=https://storage.googleapis.com/golang/{{ go }}.tar.gz dest=/tmp/{{ go }}.tar.gz validate_certs=no
  when: not go_installed.stat.exists and not go_installed.stat.exists

- name: check go extraction
  stat: path=/tmp/{{ go }}
  register: go_extracted

- name: unarchive go
  unarchive: src=/tmp/{{ go }}.tar.gz dest=/opt copy=no
  when: not go_extracted.stat.exists

- name: Clone geth
  git: repo=https://github.com/ethereum/go-ethereum.git dest=/opt/go-ethereum accept_hostkey=True version={{ geth_version }}

- name: check geth build
  stat: path=/opt/go-ethereum/build/bin/geth
  register: geth_build

- name: make geth
  command: chdir=/opt/go-ethereum make
  environment:
    GOROOT: /opt/go
    GOPATH: /home/vagrant/go
    PATH: /opt/go/bin:{{ ansible_env.PATH }}
  when: not geth_build.stat.exists

- name: add ethereum ppa
  apt_repository: repo='ppa:{{ item }}' update_cache=yes
  with_items:
    - ethereum/ethereum

#Solc
- name: install solc
  apt: pkg=solc state=installed

# mist
- name: install useful package for mist
  apt: pkg={{ item }} state=installed
  with_items:
    - libxss1

- name: check mist installed
  stat: path=/usr/local/bin/Mist
  register: mist_installed

- name: install chromium
  apt: pkg=chromium-browser state=installed

- name : download mist
  get_url:
    url={{ mist_version_url_deb }}
    dest=/tmp/
    validate_certs=no
    checksum="sha256:{{ mist_version_url_deb_checksum }}"
  when: not mist_installed.stat.exists

- name: install mist
  command: chdir=/tmp sudo gdebi --non-interactive {{ mist_version_deb }}
  when: not mist_installed.stat.exists

# tasks file for populus
- name: install populus dependencies
  apt: pkg={{ item }} state=installed
  with_items:
    - python3-dev
    - python3-pip
    - pkg-config
    - libffi-dev
    - dh-autoreconf

- name: install newer version of setuptools
  pip: name=setuptools version=28.7.1

- name: install newer version of cffi
  pip: name=cffi

- name: Clone populus
  pip: name=populus version=1.4.1

# Truffle

- name: check mist installed
  stat: path=/opt/{{ node_version }}/lib/node_modules/truffle
  register: truffle_installed

- name: install truffle
  command: npm -g install truffle
  when: not truffle_installed.stat.exists

# PARITY

- name: check cargo install
  stat: path=/home/vagrant/.cargo/bin/cargo
  register: cargo_installed

- name : download rust
  get_url: url=https://static.rust-lang.org/rustup/rustup-init.sh dest=/tmp/rustup-init.sh validate_certs=no
  when: not cargo_installed.stat.exists

- name: install rust
  command: chdir=/tmp sh rustup-init.sh -y
  when: not cargo_installed.stat.exists

- name: Clone parity
  git: repo=https://github.com/ethcore/parity.git dest=/opt/parity recursive=yes accept_hostkey=True version={{ parity_version }}
