#!/bin/sh

printf "\nThis virtual machine is provided by Asseth non-profit organization"
printf  "\nPlease enjoy or contribute at https://github.com/asseth/assethbox"
# echo "             __  ____ ____ ____ ____ _  _    ____  __ _  _             "
# echo " ___ ___    / _\/ ___/ ___(  __(_  _/ )( \  (  _ \/  ( \/ )   ___ ___  "
# echo "(___(___)  /    \___ \___ \) _)  )( ) __ (   ) _ (  O )  (   (___(___) "
# echo "           \_/\_(____(____(____)(__)\_)(_/  (____/\__(_/\_)            "
# echo "\n"
